.banner {
    background-image: linear-gradient(rgba(0,0,0,.5), rgba(0,0,0,.5)), url('https://i.ibb.co/48N5brm/bg.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 90vh;
    background-position: center center;
}